# ----------------------------- AI MODEL SELECTION -----------------------------
# AI_VERSION defines which model service to use (e.g. 'v1' for Gemini, 'v2' for Groq, 'ollama' for local Ollama)
AI_VERSION=

# ----------------------------- API KEYS -----------------------------
# Gemini API Key
GEMINI_API_KEY=

# Groq API Key
GROQ_API_KEY=

# ----------------------------- GROQ SETTINGS -----------------------------
# Groq Model name
GROQ_MODEL=

# ----------------------------- OLLAMA SETTINGS -----------------------------
# Local Ollama
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=

# ----------------------------- SUPABASE DATABASE CONFIGS -----------------------------
# Postgress Database Configs
SUPABASE_URL=
SUPABASE_KEY=

# ----------------------------- DEBUGGING -----------------------------
DEBUG=false
